<p>
	<%= user_id %>
</p>

<p>
	Your names:
</p>

<% names.each_with_index do |draft_name, i| %>

<div class="hat-draft-name">
	<p><%= draft_name %></p>
<!--
	<p>
		<a href="/edit-name?name_id=<%= i %>">Edit</a>
	</p>
-->
</div>

<% end %>

<form action="/new-name" method="post">
	<label>New name</label>
	<input type="text" name="new_name">
	<input type="hidden" name="user_id" value="<%= user_id %>">
	<input type="submit" value="Save draft">
</form>

<p>
	<a href="/">Back to the game</a>
</p>
