<h2>
	<% if names.length < names_per_player %>
	Add names to the hat
	<% else %>
	Done
	<% end %>
</h2>

<% unless names.empty? %>

<p>Your names:</p>

<% names.each_with_index do |draft_name, i| %>

<div class="hat-draft-name">
	<p><%= draft_name %></p>
	<p>
		<a href="/edit-name?name_id=<%= i %>">Edit</a>
	</p>

</div>

<% end %>

<% end %>

<% if names.length < names_per_player %>

<form action="/new-name" method="post">
	<label>New name</label>
	<input type="text" name="new_name">
	<input type="submit" value="Add name">
</form>

<p>
	<a href="/">Back to the game</a>
</p>

<% else %>

<p>You’ve added your <%= names_per_player %> names to the hat. You’re ready to <a href="/">start the game</a>.</p>


<% end %>
