<h2>Add a name to the hat</h2>

<form action="/new-name" method="post">
	<label>New name</label>
	<input type="text" name="new_name">
	<input type="submit" value="Add name">
</form>

<p>
	<a href="/">Back to the game</a>
</p>