<h2>Add a name to the hat</h2>

<p>Your names:</p>

<% names.each_with_index do |draft_name, i| %>

<div class="hat-draft-name">
	<p><%= draft_name %></p>
	<p>
		<a href="/edit-name?name_id=<%= i %>">Edit</a>
	</p>

</div>

<% end %>

<% if names.length < names_per_player %>

<form action="/new-name" method="post">
	<label>New name</label>
	<input type="text" name="new_name">
	<input type="submit" value="Add name">
</form>

<% else %>

<p>You've added all <%= names_per_player %> names you're allowed to.</p>

<% end %>

<p>
	<a href="/">Back to the game</a>
</p>