<h2>Editing “<%= edit_name %>”</h2>

<p>You put the name “<%= edit_name %>” in the hat. But it’s okay, you can change it.</p>

<form action="/edit-name" method="post">
	<label>What do you want to change it to?</label>
	<input type="text" name="new_name">
	<input type="hidden" name="old_name" value="<%= edit_name %>">
	<input type="submit" value="Add name">
</form>

<% if names.length > 1 %>

<h2>The other names you’ve added</h2>

<% names.each_with_index do |draft_name, i| %>

<% unless i == edit_name_id %>

<div class="hat-draft-name">
	<p><%= draft_name %></p>
</div>

<% end %>

<% end %>

<% end %>

<p>
	<a href="/">Back to the game</a>
</p>