<h1>The remote hat game</h1>

<p>A parlour game for people keeping a responsible physical distance from each other</p>

<a href='/new-turn' class="hat-button-next">It's my turn</a>

<p>
	<a href='/add-name-instructions'>How to add your names</a>
</p>

