<h1>The remote hat game</h1>

<p>A parlour game for people keeping a responsible physical distance from each other</p>


<a href='/turn' class="hat-button">Take a turn</a>


<p>Coming soon:</p>

<ul>
	<li>a timer</li>
	<li>a nicer design</li>
	<li>passes working properly</li>
</ul>

