<!DOCTYPE html>
<html>
<head>
	<title>Hat game: remote</title>
	<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
	<%= yield %>

<div class="secret-controls">

<h2>Hat game secret controls</h2>

<p>
	<a href="/reveal">Reveal the state of the hat</a>
</p>

<p>
	<a href="/turn">Back to your turn</a>
</p>

<p>
	<a href="/">Hat game homepage</a>
</p>

<p>
	<a href="/new-round">Reset the hat</a>
</p>

</div>

</body>
</html>
