<h2>Still in the hat</h2>

<p>These names are in the 'to_do' array:</p>

<ul>
<% to_do.each do |name| %> 
	<li><%= name %></li>
<% end %>
</ul>

<h2>Successfully guessed</h2>

<p>These names are in the 'done' array:</p>

<ul>
<% done.each do |name| %>
	<li><%= name %></li>
<% end %>
</ul>

<h2>Passes</h2>

<p>These names are in the 'passes' array:</p>

<ul>
<% passes.each do |name| %>
	<li><%= name %></li> 
<% end %>
</ul>

