<div class="current-name">
	<p class="hat-name"><%= current_name %></p>
</div>

<div class="controls">

<p><a href="/guessed" class="hat-button-next">Got it!</a></p>
<p><a href="/pass" class="hat-button-pass">Pass</a></p>
<p><a href="/next-player">Next player</a></p>

</div>