<h1>It's your turn!</h1>

<div class="current-name">
	<h2>The name your team has to guess</h2>
	<p><%= current_name %></p>
</div>

<div class="controls">

<h2>Hat game controls</h2>

<p><a href="/guessed">Got it!</a></p>
<p><a href="/pass">Pass</a></p>
<p><a href="/next-player">Next player</a></p>

</div>