<div class="current-name">
	<p class="hat-name"><%= current_name %></p>
</div>

<div class="controls">

<p><a href="/guessed" class="hat-button-next">Got it!</a></p>

<% unless to_do.length < 2 %>
	<% if passes.empty? %>
		<p><a href="/pass" class="hat-button-pass">Pass</a></p>
	<% end %>	
<% end %>

<% unless passes.empty? %>

<div class="passes">
	<h2 class="hat-passes-heading">Passed</h2>
	<% passes.each do |pass| %>
		<div class="passed-name">
			<p>
				<%= pass %>
			</p>
			<p>
				<a href="/play-pass">Play this name instead</a>	
			</p>
		</div>
	<% end %>
</div>

<% end %>

<p><a class="hat-button-next-player" href="/next-player">Next player</a></p>

<% unless turn_done.empty? %>

<div class="done">
	<h2 class="hat-done-heading">Guessed</h2>
	<% turn_done.each do |turn_done_card| %>
		<div class="hat-done-name">
			<p>
				<%= turn_done_card %>
			</p>
		</div>
	<% end %>
</div>

<% end %>

</div>